.orders{
    display: flex;
    flex-direction: column;
    gap: calc(10px + 3vw);
    margin-top: calc(50px + 5vw) ;
    padding-bottom: calc(10px + 5vw);
}

.ordertittle{
    font-weight: bolder;
    font-size: calc(13px + 1vw);
    margin-bottom: calc(5px + 2vw);
   background: linear-gradient(to bottom,rgb(252, 5, 34) 40%,rgb(38, 38, 38));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: default;
    text-align: center;

}

.ordersDiv{
    display: flex;
    flex-wrap: wrap;
    gap: calc(10px + 1vw);
    justify-content: center;
}

.OrdersCard{
    width:calc(120px + 4vw);
}

.OrdersCard>:nth-child(2)>:nth-child(1){
    font-size: calc(11px + 0.1vw);
    text-align: center;
    font-weight: bolder;
}
.OrdersCard>:nth-child(2)>:nth-child(2),.OrdersCard>:nth-child(2)>:nth-child(3),
.OrdersCard>:nth-child(2)>:nth-child(4),.OrdersCard>:nth-child(2)>:nth-child(5)>:nth-child(1)
{
    font-size: calc(9px + 0.1vw);
    font-weight: bolder;
}

.OrdersCard>:nth-child(2)>:nth-child(5)>:nth-child(2)
{
    font-size: calc(7.6px + 0.1vw);
    font-weight: bolder;
}

.OrdersCard>:nth-child(2)>:nth-child(5){
    display: flex;
    flex-direction: column;
}

.OrdersCard>:nth-child(2)>:nth-child(6){
    text-align: center;

}